
*{
  margin: 0px;
  padding: 0px;
  background-color:#242121 ;
  color: white;
}


.nav-bar{
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #292828;
position: sticky;
top: 0px;
}


.img-div-1{
  display: flex;
  background-color:  #292828;
  justify-content: center;
  align-items: center;
  margin-left:2%;
}

.img-div-1>img:first-child{
  background-color:  #292828;
  height: 46px;
}
.img-div-1>img:last-child{
  height: 25px;
background-color:  #292828;
}


.img-div-3{
  display: flex;
  background-color:  #292828;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right:2%;
}

.img-div-3>img{
  background-color:  #292828;
  height: 32px;
}

input{
  width: 400px;
  background-color:#373737;
  height: 33px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
}

.Search-bar{
  background-color: #292828;
  display: flex;
  align-items: center;
  gap: 15px;
}

button{
  height: 33px;
  width:140px ;
  border: 1px solid #949393;
  background-color: transparent;
  font-family: sans-serif;
  cursor: pointer;
}



.Booklist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  gap: 30px;
}


.book-img{
  height: 300px;
  width: 200px;
  border-radius: 5px;
  margin-top: 10px;
}

.book-detail{
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.book-detail1{
 width: 400px;
 height: 300px;
 display: flex;
 overflow: hidden;
 border-radius: 5px;
}
.image-div{
  height:100%;
  width: 60%;
  margin: 5px;
 margin-right: 0px;
}

.image-div>img{
  height:100%;
  border-radius: 5px;
  width: 200px;
}

.more{
  margin-left: 20px;
  font-size: larger;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}




.title-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: #575353;
}

.title-div>div{
background-color: #949393;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 5px;
}


.author-div{


}






.title-div>h2{
  background-color: rgb(180, 189, 189);
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  border-radius: 5px;
}




@media screen and (max-width:800px) {
  .img-div-1, .img-div-3{
    display: none;
  }
  .Search-bar{
    width: 800px;
    display: flex;
    justify-content: center;
  }
input{
  width: 300px;
}
}






